# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 24.11.3
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-arm64/blas-1.0-openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ca-certificates-2025.2.25-hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libcxx-14.0.6-h848a8c0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libsodium-1.0.18-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2025a-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.6.4-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zlib-1.2.13-h18a0788_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran5-11.3.0-h009349e_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/openssl-3.0.16-h02f6b3c_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tk-8.6.14-h6ba3021_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zeromq-4.3.5-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libgfortran-5.0.0-11_3_0_hca03da5_28.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlite-3.45.3-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libopenblas-0.3.21-h269037a_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-3.9.21-hb885b13_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/appnope-0.1.2-py39hca03da5_1001.conda
https://repo.anaconda.com/pkgs/main/noarch/backcall-0.2.0-pyhd3eb1b0_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/debugpy-1.8.11-py39h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/noarch/decorator-5.1.1-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/exceptiongroup-1.2.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/executing-0.8.3-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/nest-asyncio-1.6.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-base-2.0.2-py39ha9811e2_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/packaging-24.2-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/parso-0.8.4-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pickleshare-0.7.5-pyhd3eb1b0_1003.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/platformdirs-3.10.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/psutil-5.9.0-py39h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/noarch/ptyprocess-0.7.0-pyhd3eb1b0_2.conda
https://repo.anaconda.com/pkgs/main/noarch/pure_eval-0.2.2-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pygments-2.15.1-py39hca03da5_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyzmq-26.2.0-py39h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-72.1.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tornado-6.4.2-py39h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/traitlets-5.14.3-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/typing_extensions-4.12.2-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/wcwidth-0.2.5-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.45.1-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zipp-3.21.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/asttokens-2.0.5-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/comm-0.2.1-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/importlib-metadata-8.5.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jedi-0.19.2-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jupyter_core-5.7.2-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-inline-0.1.6-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numpy-2.0.2-py39h3b2db8e_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pexpect-4.8.0-pyhd3eb1b0_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-25.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/prompt-toolkit-3.0.43-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/python-dateutil-2.9.0post0-py39hca03da5_2.conda
https://repo.anaconda.com/pkgs/main/noarch/importlib_metadata-8.5.0-hd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/noarch/stack_data-0.2.0-pyhd3eb1b0_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ipython-8.15.0-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jupyter_client-8.6.3-py39hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ipykernel-6.29.5-py39hca03da5_1.conda
